site_name: FAIR PBK standard
site_description: A specification for creating interoperable and reusable PBK models.
site_url: 'https://fair-pbk.github.io/fair-pbk-standard'
site_dir: site/
repo_url: 'https://github.com/fair-pbk/fair-pbk-standard'
repo_name: fair-pbk/fair-pbk-standard
edit_uri: blob/main/docs/

nav:
  - Home: index.md
  - Specification: specification.md
  - Use in FIP: use_in_FIP.md
  - Resources: resources.md
  - About: about.md

theme:
  name: material
  language: en
  features:
    - navigation.sections
    - navigation.tabs
    - navigation.tabs.sticky
  font:
    text: Roboto
  palette: 
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default 
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
extra_css:
  - css/extra.css

plugins:
  - macros:
      include_dir: include

extra:
  version:
    provider: mike

extra_javascript:
  - https://unpkg.com/tablesort@5.3.0/dist/tablesort.min.js
  - js/tablesort.js
