| Id | Description | Implementation | Part of PBK standard |
|----|-------------|----------------|---------------------|
{% for record in principles -%}
| {{ record.id }} | {{ record.principle }} | {{ record.implementation }} | {{ record.part_of_standard }} |
{% endfor %}

